@import url(components/normalize.css);
@import url(components/typography.css);
@import url(components/common.css);
@import url(icomoon.css);

body {
  min-width: 320px;
}

body .my-carousel {
  width: 80%;
  margin: 0 auto;
}

.container {
  width: 95%;
  margin: 0 auto;
  background-color: antiquewhite;
}

.photo {
  width: 100%;
  position: relative;
}

.photo img {
  width: 100%;
  height: 100%;
}

.shadow-photo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  padding: 0;
  display: flex;
  opacity: 0;
}

.icon li {
  width: 40px;
  height: 40px;
  background-color: #3A454D;
  list-style-type: none;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.container:hover .shadow-photo {
  background-color: rgb(255, 255, 255, 0.5);
}

.container:hover .icon {
  opacity: 1;
}

.container:hover .description-photo {
  background-color: #3A454D;
}

.container:hover .description-photo p, .container:hover .description-photo h5 {
  color: white;
}

.description-photo {
  background-color: #D4DADE;
  padding: 15px;
}

.description-photo h5{
  text-transform: uppercase;
  color: #292F36;
}

.description-photo p {
  font-size: 14px;
  color: #8D8F92;
}

.description-photo p, .description-photo h5 {
  margin: 0;
  padding: 0;
}

.slick-dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.slick-dots li {
  margin: 10px;
}

.slick-dots button {
  font-size: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0;
}

.slick-dots button:hover,
.slick-dots .slick-active button {
  background-color: black;
}

.my-carousel .slick-arrow {
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 20px;
  background-color: transparent;
}

.my-carousel .slick-prev, .my-carousel .slick-next {
  color: #8D8F92;
}

@media (min-width: 768px) {
  body .my-carousel {
    display: flex;
    align-items: center;
  }
}
