.header-holder {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;

  .logo {
    margin: 5px 40px;
  }


  .burger-btn {
    input {
      width: 40px;
      height: 40px;
      border-radius: 5px;
      background-color: $aqua;
      border: none;
      margin: 12px 40px 0 0;
      padding-left: 40px;
      position: relative;
      z-index: 10;
    }

    input::after {
      content: '\039E';
      position: absolute;
      top: 4px;
      left: 11.5px;
      font-size: 30px;
      color: $purple;
    }

    input:checked + .menu {
      display: block;
    }
    
    .menu {
      display: none;

      .navigation-page {
        position: absolute;
        z-index: 9;
        background-color: $light-purple;
        margin-left: 20px;
        width: 25%;
        height: 100vh;
        top: 0;
        padding-top: 70px;
        line-height: 3;

        .separation {
          width: 80px;
          height: 1px;
          background-color: $aqua;
          margin: 0 auto;
        }

        a {
          color: $white;
          font-weight: 700;
          text-align: center;
          display: block;
        }

        a:hover {
          color: $aqua;
          text-decoration: none;
        }
      }
    }
  }

  .tablet-nav {
    display: none;

    .navigation-page {
      display: flex;
      flex-wrap: wrap;

      li {
        margin: 15px 10px;
      }

      a {
        color: $white;
        font-weight: 700;
      }

      a:hover {
        color: $aqua;
        text-decoration: none;
      }
    }
  }
}
