$dark-purple: #09052f;
$purple: #311d5e;
$light-purple: #8d74bbf6;
$aqua: #00E0D0;
$grey: #413D4B;
$black: #000;
$white: #fff;

$base-font-sans-serif: 'Roboto','Rubik', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;

$font-size-base: 16px !default;
$line-height-base: 2 !default;
$base-font-family: $base-font-sans-serif !default;

$base-min-width: 320px;

$h1-font-size: 40px;
$h2-font-size: 32px;
$h3-font-size: 24px;
$h4-font-size: 21px;
$h5-font-size: 17px;
$h6-font-size: 15px;