.my-carousel {
  width: 90%;
  padding-top: 150px;
  margin: 0 auto;

  .container {
    width: 100%;
  }

  h2, p {
    text-align: center;
  }

  p {
    font-size: 14px;
  }

  .separation {
    width: 50px;
    height: 1px;
    background-color: $aqua;
    margin: 0 auto 20px;
  }

  .slick-list {
    margin-bottom: 80px;
  }

  .slick-dots {
    font-size: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    padding-bottom: 20px;

    li {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: transparent;
      margin: 0 3px;
      border: 1px solid $white;
    }

    li:hover {
      border: none;
      background-color: $aqua;
    }

    button {
      display: none;
    }

    .slick-active {
    border: none;
    background-color: $aqua;
    }
  }
}