.browse-all {
  width: 110px;
  height: 50px;
  border: 1px solid #9FA09C;
  border-radius: 2px;
  background-color: transparent;
  color: #9FA09C;
  text-transform: uppercase;
  font-size: 13px;

  &:hover {
    background-color: #9FA09C;
    color: $black;
    cursor: pointer;
  }
}

.get-started {
  width: 150px;
  height: 45px;
  background-color: #89CA89;
  border-radius: 3px;
  border: none;
  color: $white;
  text-transform: uppercase;

  &:hover {
    background-color: transparent;
    color: #89CA89;
    border: 1px solid #89CA89;
    cursor: pointer;
  }
}

.client-name {
  width: 143px;
  height: 35px;
  background-color: #F26C4F;
  color: $white;
  border-radius: 20px;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;

  &:hover {
    background-color: transparent;
    color: #F26C4F;
    border: 1px solid #F26C4F;
    cursor: pointer;
  }
}