$black: #000;
$white: #fff;

$base-min-width: 320px;

$base-font-sans-serif: 'Open Sans', 'Roboto','Rubik', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;

$font-size-base: 16px !default;
$line-height-base: 1.2 !default;
$base-font-family: $base-font-sans-serif !default;

$base-link-color: $black;



$h1-font-size: 40px;
$h2-font-size: 34px;
$h3-font-size: 24px;
$h4-font-size: 21px;
$h5-font-size: 16px;
$h6-font-size: 15px;