.my-carousel {

  .slick-arrow {
    width: 50px;
    height: 90px;
    border-radius: 5px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1;
    top: 50%;
  }
  
  .slick-next {
    right: 0;
  }

  .slick-prev::after, .slick-next::before {
    content: '';
    width: 30px;
    height: 80px;
    display: inline-block;
    background-repeat: no-repeat;
  }

  .slick-prev::after {
    background-image: url(../../images/prev.png);
  }


  .slick-next::before {
    background-image: url(../../images/next.png);
  }

  .slick-dots {
    padding: 0;
    list-style: none;
    font-size: 0;
    display: flex;
    position: absolute;
    bottom: 0;
    left: calc(50% - 20px);

    li {
      margin: 10px;
    }

    button {
      width: 15px;
      height: 15px;
      border: 0;
      border-radius: 50%;
    }
  }

  .slick-dots button:hover,
  .slick-dots .slick-active button {
  background-color: black;
}

  .container {
    width: 100%;
    min-height: 550px;
    background-position: 50% 50%;
    background-size: cover;
    min-height: 755px;
    max-height: 755px;
  }

  .slide-1 {
    background-image: url(../../images/slider1.png);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
  }

  .slide-information {
    max-width: 400px;
    color: $white;
    margin: 133px 13.3px 90px;

    h2 {
      background-color: #65C25D;
      border-radius: 3px;
      padding: 15px;
      display: inline-block;
      text-align: center;
    }

    p {
      background-color: $black;
      border-radius: 3px;
      padding: 10px;
      display: inline-block;
      text-align: center;
    }
  }

  .slide-phone {
    @media (min-width: 807px) {
      margin-top: 315px;
    }
  }

  .slide-2 {
    background-image: url(../../images/slider2.png);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
  }

  .slide-computer {
    padding: 140px 10px 60px;
    width: 800px;

    @media (min-width: 450px) {
      padding-bottom: 20px;
      width: 650px;
    }

    @media (min-width: 976px) {
      margin-bottom: 80px;
    }

    @media (min-width: 1300px) {
      width: 800px;
    }

    img {
      max-height: 350px;
    }

  }

  .slide-2-information {
    width: 326px;
    color: $white;
    padding: 0 10px 40px;

    @media (min-width: 976px) {
      margin-bottom: 140px;
    }

    h3 {
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 3px;
      padding: 10px;
      display: inline-block;
      text-align: center;
      margin-bottom: 40px;
      
      @media (min-width: 450px) {
        margin-bottom: 10px;
      }
    }

    p {
      background-color: $black;
      border-radius: 3px;
      padding: 18px 10px;
      line-height: 1.5;
      max-width: 250px;
      margin-left: auto;
    }
  }
}

.commentary {
  width: 95%;
  max-width: 980px;
  margin: 0 auto 30px;
  

  .comment-client {
    background-color: $white;
    color: #BBBBBB;
    padding: 30px;
    margin-bottom: 30px;
    position: relative;


    &::after {
      content: '';
      width: 20px;
      height: 20px;
      transform: rotate(45deg);
      background-color: $white;
      position: absolute;
      bottom: -10px;
      left: 49.5%;
    }

    p {
      margin: 0;
      font-size: 24px;
      font-weight: 600;
    }
  }
}


.users {
  margin: 0 auto;

  .slick-track {
    display: flex;
    justify-content: center;
    max-width: 910px;
  }

  .photo {
    max-width: 55px;
    margin: 5px;
    opacity: 0.5;
    position: relative;

    &:hover, .slick-current {
      opacity: 1;
      border-bottom: 5px solid #1FB4DA;
      cursor: pointer;
    }
  }

  .slick-current {
    opacity: 1;
    border-bottom: 5px solid #1FB4DA;
  }
}
