.container {
  width: 600px;
  height: 100px;
  border: 1px solid black;
  margin: 15px auto;
  padding: 5px;
  display: flex;
}

.column {
  width: 50px;
  text-align: center;
  color: rgb(248, 247, 247);
}

.red {
  height: 30px;
  background-color: red;
  order: -1;
}

.green {
  height: 50px;
  background-color: rgb(11, 133, 22);
}

.pink {
  height: 70px;
  background-color: rgba(219, 84, 208, 0.726);
}

.orange {
  height: 100px;
  background-color: rgb(240, 147, 71);
  order: -1;
}

.row-1 {
  justify-content: center;
}

.row-2 {
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row-reverse;
}

.row-3 {
  justify-content: space-between;
  align-items: center;
}

.row-4 {
  justify-content: space-around;
}

.row-4 .column {
  align-self: stretch;
  height: auto;
}

.row-5 {
  justify-content: center;
  align-items: center;
}

.row-5 .red, .row-5 .pink {
  align-self: stretch;
  height: auto;
}


