$breakpoints: (
	'xs-phone': 480px,
	'phone': 576px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1200px
);

$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);


@import 'components/normalize';
@import 'components/include-media';
@import 'components/form';
@import 'components/base';
@import 'components/variables';
@import 'components/button';
@import 'components/nav';
@import 'components/carousel';
@import 'layout/common';
@import 'layout/header';


body {
  @include media ('>=tablet') {
    .header-holder {
      width: 95%;


      .burger-btn {
      display: none;
      }

      .tablet-nav {
        display: block;
      }
    }

    .my-carousel {
      .container {
        width: 80%;
        margin: 0 auto;
      }
    }

    .block-ourStory {
      width: 75%;
      margin: 0 auto;
      flex-direction: row;
      padding-top: 40px;

      .information {
        width: 70%;
        padding-left: 100px;

        h2 {
          text-align: start;
        }

        p {
          text-indent: 0;
          line-height: 1.5;
        }

        .btn {
          margin: 40px 0;
        }
      }
    }
  }
  
  @include media ('>=desktop') {
    .my-carousel {
      .container {
        width: 70%;
        margin: 0 auto;
      }
    }
  }

  @include media ('>=widescreen') {
    .my-carousel {
      .container {
        width: 60%;
        margin: 0 auto;
      }
    }
  }
}


