.container {
  width: 800px;
  margin: 0 auto;
  border: 1px solid black;
}

.figure {
  height: 150px;
  margin-right: 20px;
}

.levels {
  margin: 20px 0 20px 20px;
  height: 150px;
}

.level-1 .red {
  float: left;
  width: 222px;
}

.level-1 .blue {
  width: 518px;
  margin-left: auto;
}

.level-2 .red {
  width: 222px;
  margin-left: auto;
}

.level-2 .blue {
  width: 518px;
  float: left;
}

.inner-figure .red {
  width: 144px;
  float: left;
}

.inner-figure .blue {
  width: 432px;
  margin-left: auto;
}

.inner-figure {
  float: left;
  width: 616px;
}

.level-3 .red {
  width: 144px;
  margin-left: auto;
}

.level-4 .inner-same-figure {
  width: 390px;
  height: 150px;
  float: left; 
  margin-bottom: 20px;
}

.level-4 .inner-same-figure .red {
  width: 175px;
  float: left;
}

.level-4 .inner-same-figure .next-red-figure {
  margin-left: auto;
}

.level-4 .outer-figure {
  margin-left: auto;
}

.level-5 .red {
  width: 370px;
  float: left;
}

.level-5 .next-red-figure {
  margin-left: auto;
  margin-bottom: 20px;
}

.red {
  background: red;
}

.blue {
  background: blue;
}