.row {
  width: 700px;
  border: 1px solid black;
  margin: 20px auto;
  padding: 25px 0 25px 25px;
  display: flex;
}

.col {
  width: 200px;
  height: 200px;
  margin-right: 25px;
}

.figure-1 {
  background: linear-gradient(to bottom, #ba5600 0%,#d6ae00 47%,#d6ae00 52%,#ba5600 100%);
  box-shadow: 0 10px 25px rgb(39, 39, 39);
}

.figure-2 {
  background: rgb(5, 155, 5);
  border-radius: 20px 50px;
  box-shadow: inset 0 0 30px rgb(36, 35, 35);
}

.figure-3 {
  background: linear-gradient(to bottom, #059b05 1%,#1abf07 1%,#0e5900 100%);
  border-radius: 50%;
  border: 4px dashed black;
  background-clip: padding-box;
}

.figure-4 {
  background: linear-gradient(45deg, #ef8f09 0%,#e500e1 100%);
  border: 5px dotted black;
  background-clip: padding-box;
}

.figure-5 {
  height: 120px;
  background: linear-gradient(to bottom, #ef8a7c 0%,#f25c48 29%,#f21c00 100%);
  border-radius: 50%;
  box-shadow: 0 8px 0 #8c0900e8;
  margin-top: 40px;
}

.figure-6 {
  background: radial-gradient(ellipse at center, #0099f2 0%,#0300cc 41%,#1500d6 100%);
  border-radius: 50%;
  box-shadow: 0 8px 15px rgb(56, 55, 55);
}