body {
  margin: 0;
  padding: 0;
  background: rgb(196, 194, 194);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.29;
}

body::after, body::before {
  display: block;
  content: '';
  width: 100%;
  height: 10px;
  background: rgb(180, 3, 3);
}

.header-container {
  width: 100%;
  height: 30px;
  background: rgb(39, 38, 38);
  color: white;
  margin: 0;
}

.menu li {
  display: inline-block;
  color: white;
  width: 10%;
  height: 30px;
  text-align: center;
}

.menu {
  margin: 0 auto;
  padding: 0;
  width: 80%;
  height: 30px;
  color: white;
  background: red;
}

.menu li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 15px;
  margin: 5px 0;
}

.active {
  background: rgb(110, 3, 3);
}

.main-container {
  margin: 0 auto;
  padding: 0;
  width: 80%;
  min-height: 100vh;
  background: white;
  font-size: 18px;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

.header {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background: rgb(39, 38, 38);
  color: rgb(243, 237, 237);
  font-size: 16px;
}

.intro {
  padding: 20px;
  width: 43%;
}

.intro h1::first-letter {
  color: rgb(223, 8, 8);
}

.intro h1 {
  text-shadow: 1px 1px 1px grey;
}

.intro h2 {
  padding: 5px 0;
}

.content-block {
  margin: 80px auto auto;
  width: 65%;
}

.section-what-we-do, .lists-title {
  width: 100%;
}

.section-what-we-do h2::first-letter {
  color: rgb(245, 11, 50);
}

.section-what-we-do h2 {
  color: rgb(122, 121, 121);
  padding-bottom: 10px;
}

.section-what-we-do a {
  color: rgb(245, 11, 50);
}

.photos-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px 0;
}

.photo {
  margin: 0 10px;
}

.photo h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

.lists-title h2::first-letter {
  color: rgb(245, 11, 50);
}

.lists-title {
  color: rgb(122, 121, 121);
  padding-bottom: 10px;
  display: block;
}

.section-lists .inner-lists {
  width: 100%;
  color: rgb(80, 79, 79);
  display: flex;
  justify-content: space-between;
}

.section-lists .inner-lists ul, .section-lists .inner-lists ol {
  background: 0;
  color: grey;
  padding: 0 0 0 1px; 
}

.section-lists .inner-lists ol  {
  margin-left: 17px;
}

.section-lists .inner-lists ol li {
  margin: 10px 0; 
}

.section-lists .inner-lists ul {
  list-style: none;
}

.first-column-list ul li::before {
  content: '\2022';
  color:rgb(80, 79, 79);
  padding-right: 10px; 
  font-weight: bold;
} 

.list-sublevel li{
  padding-left: 20px; 
}

.list-unstyled {
  margin-bottom: 20px;
}

.column {
  margin: 0 5px;
  width: 100%;
}