.header {
  min-height: 670px;
  background-image: url(../images/img2.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  color: $white;

  &::before {
    content: '';
    background-image: linear-gradient(to top, $dark-purple, $purple);
    opacity: 0.85;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .container-header {
    position: relative;
    z-index: 2;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
