body {
	font-family: $base-font-sans-serif;
	line-height: $line-height-base;
}

.block-ourStory {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;

	h2 {
		margin: 20px auto;
		text-align: center;
		color: $grey;
	}

	p {
		color: $grey;
		text-indent: 10px;
		font-weight: 300;
		font-size: 14px;
	}
}