@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?yljach');
  src:  url('../fonts/icomoon.eot?yljach#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?yljach') format('truetype'),
    url('../fonts/icomoon.woff?yljach') format('woff'),
    url('../fonts/icomoon.svg?yljach#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
