@import url(iconmoon.css);

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 430px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid black;
  position: relative;
  color: gray;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  background-image: url( ../images/form-bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.content {
  position: relative;
}
.search-form {
  border-bottom: 1px solid rgb(190, 188, 188);
  padding-bottom: 20px;
  margin-bottom: 40px;
  position: relative;
}

.content input:hover {
  border: 2px solid rgb(62, 194, 176);
}

.content input:focus-visible, .content input:focus {
  border: 2px solid rgb(62, 194, 176);
  outline: 0;
}

.content textarea:hover {
  border: 2px solid rgb(62, 194, 176);
}

.content textarea:focus-visible, .content input:focus {
  border: 2px solid rgb(62, 194, 176);
  outline: 0;
}

.search-form input {
  padding-right: 40px;
  width: 86%;
}

.img-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 10px;
  top: 19px;
  cursor: pointer;
}

.img-btn:active {
  width: 17px;
  height: 17px;
}

.description-from h1 {
  color: rgb(32, 32, 32);
  margin: 0;
}

.description-from p {
  font-size: 18px;
}

.wrapper-forms {
  margin-bottom: 20px;
}

.text-form {
  height: 50px;
  width: 90%;
  border: 2px solid rgb(211, 209, 209);
  border-radius: 5px;
  padding: 0 20px;
  font-size: 20px;
}

.radio-form {
  width: 49%;
}

.radio-form, .checkbox-form {
  display: inline-block;
  margin-bottom: 20px;
}

.radio-form label, .checkbox-form label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radio-form input, .checkbox-form input {
  display: none;
}

.filled-circle{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  border: 1px solid rgb(190, 188, 188);
  margin-right: 20px;
}

.radio-form input:checked + .filled-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(62, 194, 176);
  border: 1px solid rgb(190, 188, 188);
}

.checkmark {
  width: 25px;
  height: 25px;
  border-radius: 15%;
  background: white;
  border: 1px solid rgb(190, 188, 188);
  margin-right: 20px;
}

.checkbox-form input:checked + .checkmark {
  width: 25px;
  height: 25px;
  border-radius: 15%;
  background: rgb(62, 194, 176);
  border: 1px solid rgb(190, 188, 188);
}

.textarea {
  resize: none;
  height: 150px;
}

.button {
  width: 100%;
  height: 50px;
  background: #3ec2b0;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #33a193;
}

.icon-section ul{
  display: flex;
  justify-content: center;
  margin: 20px 0 0;
}

.icon-section li {
  display: inline-block;
  margin: 0 10px;
}

.icon-section i {
  color: rgb(167, 164, 164);
}

.icon-section a {
  text-decoration: none;
}

.icon-section i:hover {
  color: rgb(62, 194, 176);
}