.footer {
  color: $white;
  background-color: $black;
  padding: 30px;
  line-height: 1.5;

  .container-footer {
    margin: 0 auto;
    max-width: 700px;

     @media (min-width: 1040px) {
      max-width: 980px;
    }
  }

  .nav-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
  }

  .inner-block {
    max-width: 245px;
  }

  nav {
    padding-right: 23px;
  }


  .tag-cloud {
    ul {
      display: flex;
      flex-wrap: wrap;
    }

    li {
      margin: 3px;
      padding: 6px 12px;
      background-color: #222;
    }
  }

  h6 {
    text-transform: uppercase;
  }

  ul {
    padding: 0;
    list-style: none;
  }

  a, p {
    color: #AAAAAA;
    font-size: 14px;
  }

  a:hover {
    color: green;
  }

  .search-form{
    position: relative;
    margin-top: 90px;
    
    input {
      width: 100%;
      height: 45px;
      border-radius: 5px;
      border: 0;
      
      padding: 0 40px 0 20px;
      outline: none;
    }

    input:hover {
      border: 2px solid green;
    }
    
    .icon {
      position: absolute;
      top: 12px;
      right: 10px;
    }
  }
  

  
  .line-divide {
    width: 100%;
    height: 5px;
    background-color: #222;
    margin-bottom: 30px;
  }

  .section-social-net {
    display: flex;
    justify-content: space-between;
    align-items: center;


    .social-network {
      display: flex;
    }

    nav {
      padding: 0;
    }

    ul {
      margin: 0;
    }

    li {
      margin: 0 5px;
    }

    p {
      text-transform: uppercase;
      font-size: 13px;
      margin: 0;
    }

    span {
      color: $white;
    }
  }
}