.header {
  width: 100%;
  height: 100px;
  background-color: $black;
  position: absolute;
  top: 0;
  z-index: 4;
  padding: 10px;
  display: flex;
  align-items: center;
  padding: 0;
  min-width: 320px;

  .header-holder {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .logo {
    width: 175px;
    height: 40px;
    display: block;
  }

  .menu-opener {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 40px;
    background: $white;
    position: relative;
    border-radius: 3px;
  }

  .menu-opener span, .menu-opener::after, .menu-opener::before {
    background: $black;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 25%;
    right: 25%;
    height: 4px;
    margin-top: -2px;
    transition: all .3s linear;
  }

  .menu-opener::after, .menu-opener::before {
    content:'';
    top:30%;
  }

  .menu-opener::after {
    top:70%;
  }

  .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    z-index: 5;
    top: 100%;
    right: 0;
    left: 0;
    transform: scale(0.9);
    opacity: 0;
    visibility: hidden;
    // transition: opacity .3s ease-in-out, transform .3s ease-in-out;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out, transform .3s ease-in-out;
  }

  
  .menu a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
    text-transform: uppercase;
  }
  
  .menu a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.mobile-menu-active {

  .menu-opener span {
    opacity: 0;
  }

  .menu-opener::before {
    top: 50%;
    left: 15%;
    right: 15%;
    transform: rotate(45deg);
  }

  .menu-opener::after {
    transform:rotate(-45deg);
    top: 50%;
    left: 15%;
    right: 15%;
  }

  .menu {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    background-color: rgb(0, 0, 0);
    
    a {
    color: $white;
  }
  }
}
.header {
  @include media ('>=desktop') {
    display: flex;
		justify-content: space-between;

    .header-holder {
      display: block;
    }

    .menu {
      opacity: 1;
      visibility: visible;
      display: flex;
      position: static;
      

      a {
        color: $white;
      }
    }

    .menu-opener {
      display: none;
    }
  }
}