.advantage-section {
  width: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media ('>=tablet') {
    flex-direction: row;
    justify-content: center;
  }
  
  [class^=block-] {
    max-width: 316px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media ('>=tablet') {
      margin: 0 15px;
    }
  }

  img {
    height: 85px;
    margin-bottom: 40px;
    display: block;
  }

  h3 {
    font-size: 38px;
    text-transform: uppercase;
  }

  p {
    text-align: center;
  }
}

.recent-work {
  background-image: url(../../images/bridge.png);
  background-repeat: no-repeat;
  background-position: 40% 50%;
  background-size: cover;

  .inner-recent-work {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 360px;

    @include media ('>=phone') {
      max-width: 576px;
    }

    @media (min-width: 816px) {
      max-width: 816px;
    }

    @include media ('>=desktop') {
      max-width: 1088px;
    }
  }


  .title-recent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    @include media ('>=phone') {
      padding: 30px;
    }

    @media (min-width: 816px) {
      padding: 20px;
    }

    h3 {
    color: $white;
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    }
  }

  .container-photo {

    @include media ('>=phone') {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
  }

  .photo {
    margin: 20px;
    position: relative;
    border: 1px solid #9FA09C;

    &:hover {
      cursor: pointer;
    }

    img {
      width: 100%;
    }
  }

  .focus-container-photo {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    top: 0;
    color: $white;
    background-color: rgba(0, 0, 0, 0.5);

    p {
      margin-top: 25px;
    }
  }


  .photo:hover .focus-container-photo {
    display: flex;
  }

  ul {
    padding: 0;
    list-style: none;
    display: flex;
  }

  li {
   width: 27px;
   height: 27px;
   background-color: #517D4E;
   margin: 5px;
   border-radius: 4px;
   padding: 6px 0 0 6px;
  }

  li:hover {
    background-color: #88D082;
  }

  i {
    color: $white;
  }
}

.hear-the-thunder {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;

  @include media ('>=tablet') {
    flex-direction: row;
    justify-content: center;
  }

  .information {
    max-width: 510px;
    margin-bottom: 40px;

    h2 {
      font-size: 40px;
    }

    p {
      color: #767370;
      font-size: 24px;
    }

    span {
      text-transform: uppercase;
    }
  }
}

.latest-news {
  background-image: url(../../images/book.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  color: $white;

  .inner-elements {
    padding: 100px 0 50px;
    max-width: 980px;
    margin: 0 auto;
  }

  .title-section {
    h2 {
      font-size: 30px;
      text-align: center;
      margin-bottom: 40px;
      font-weight: 400;

      @include media ('>=tablet') {
        text-align: start;
        padding-left: 10px;
      }
    }
  }

  .container-same-blocks {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media ('>=tablet') {
      flex-direction: row;
      justify-content: space-between;
      align-items: unset;
    }

    .same-blocks {
      width: 312px;
      margin: 0 10px 40px;

      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }

      img {
        margin-bottom: 50px;
        width: 100%;
        position: relative;
      }

      h4 {
        font-size: 14px;
        margin: 0;
      }

      .line {
        width: 30px;
        height: 1px;
        background-color: $white;
        margin: 20px 0;
      }
    }
  }
}

.testimonials {
  min-height: 550px;
  background-color: #F4F4F4;
  text-align: center;

  .wrapper-testimonials { 
    max-width: 980px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 40px 10px;
  }

  h2 {
    font-size: 38px;
    font-weight: 400;
    color: #202226;
  }

  p {
    color: #ABABAB;
    font-size: 18px;
  }
}

.our-clients {
  padding: 40px 15px;

  .wrapper-our-clients {
    margin: 0 auto;
    max-width: 980px;
  }

  h5 {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    @include media ('>=phone') {
    }
  }

  h5::after {
    content: '';
    height: 5px;
    border-top: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
    margin-left: 10px;
    display: block;
    flex-grow: 1;

  }

  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -10px;

    img {
      width: 100%;
      margin: 10px;

      @include media ('>=phone') {
        width: 46.4%;
      }

      @include media ('>=tablet') {
        width: 30.69%;
      }

      @media (min-width: 950px) {
        width: 22.87%;
      }

      @include media ('>=desktop') {
        width: 18%;
      }

      @include media ('>=widescreen') {
        width: 18%;
      }
    }

    img:hover {
      border: 2px solid #DDDDDD;
      cursor: pointer;
    }
  }
}

.newest-products {
  background-color: #F1F1F1;
  padding: 30px 10px;

  h5 {
    width: 162px;
    text-transform: uppercase;
    margin: 0 auto 30px;
    color: $white;
    background-color: $black;
    font-weight: 400;
    text-align: center;
    padding: 3px 4px 1px;
  }

  .container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }

  .card {
    width: 317px;
    background-color: $white;
    padding: 20px;
    margin: 0 7px 20px;
  }

  .card:hover {
    box-shadow: 0 0 15px #b4b4b4;
    cursor: pointer;
  }

  .image {
    margin-bottom: 20px;
  }

  .card:hover .image {
    box-shadow: 0 0 15px #b4b4b4;
  }

  nav {
    width: 120px;
    margin: 0 auto;
    text-align: center;

    a {
      font-size: 16px;
      font-weight: 600;
    }

    a:hover {
      color: #517D4E;
    }

    p {
      padding: 10px;
      padding-bottom: 0;
      margin: 0;
      color: #659F5C;
    }
  }
}

.additional {
  background-color: #79C277;

  .word-press {
    color: $white;
    font-size: 32px;
    text-align: center;
    padding: 40px;
  }

  a {
    color: $white;
  }

  a:hover {
    text-decoration: underline;
  }
}