@import url(components/normalize.css);
@import url(components/typography.css);
@import url(components/form.css);
@import url(components/common.css);
@import url(components/rubik.css);
@import url(icomoon.css);






body {
  max-width: 1440px;
  min-width: 650px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #A0A0A0;
  font-family: 'Rubik';
  font-weight: 400;
}

.background-logo {
  width: 100%;
  height: 100px;
  background: #F5F8FB;
}
.logo {
  margin: 36px 0 0 79px;
  display: inline-block;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 14px 79px;
  margin-bottom: 18px;
  border-top: 1px solid #E0EAF0;
  border-bottom: 1px solid #E0EAF0;
}

.navigation li, .breadcrumbs-nav li {
  list-style-type: none;
}

.navigation a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 18px;
}

.breadcrumbs-nav {
  display: flex;
  margin: 0 79px 74.9px;
  padding: 0;
}

.breadcrumbs-nav a, .breadcrumbs-nav li {
  text-decoration: none;
  color: #272B2F;
  font-weight: 300;
  font-size: 14px;
}

.breadcrumbs-nav li {
  margin-right: 10px;
}

.breadcrumbs-nav li::after {
  content: ' \003E';
  color: #000;
  margin-left: 8px;
}

.breadcrumbs-nav li:last-child::after {
  display: none;
}

.article {
  flex: 2;
  margin: 0 53px 0 79px;
}

.information-page p {
  color: #546E7A;
  font-weight: 300;
  padding-bottom: 10px;
}

.information-page h1, .information-page h2, .information-page h3 {
  font-weight: 500;
  margin: 0 0 36.5px;
}

.images {
  border-radius: 5px;
  margin-bottom: 30px;
}

.blocks {
  margin: 0 0 56px;
}

.paragraph-italic {
  font-style: italic;
  font-size: 20px;
}

.ul-nav li a{
  font-weight: 300;
  font-style: italic;
}

.ul-nav li {
  margin-bottom: 20px;
  list-style-type: none;
}

.ul-nav li::before {
  content: '—';
  margin-left: -40px;
  padding-right: 20px;
  color: #546E7A;
}

.blocks ol li {
  color: #272B2F;
  font-weight: 300;
  margin-bottom: 20px;
  margin-left: -25px;
}

.grey-underline {
  border-bottom: 1px solid #E0E9F0;
  margin-top: 20px;
  margin-bottom: 34px;
}

.contact-form {
  margin-top: -20px;
  margin-bottom: 129px;
}
.text-form {
  margin-bottom: 20px;
  height: 50px;
  width: 100%;
  border: 2px solid #E0EAF0;
  border-radius: 5px;
  padding: 0 20px;
  font-weight: 300;
  opacity: 0.6;
  color: #000;
}

.text-form:hover, .textarea:hover {
  border: 2px solid #009688;
  outline: none;
}

.text-form:focus-visible, .textarea:focus-visible {
  border: 2px solid #009688;
  outline: none;
}

.textarea {
  resize: none;
  height: 150px;
  padding-top: 16px;
  margin-bottom: 40px;
}

.button {
  width: 48%;
  background: #3ec2b0;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  opacity: 1;
}

button:hover {
  background: #009688;
}

.main {
  display: flex;
}

.blog-posts {
  flex: 1;
  margin: 0 79px 30px;
}

.search-form input {
  width: 100%;
  height: 50px;
  border: 2px solid #E0EAF0;
  border-radius: 5px;
  padding: 0 40px 0 20px;
  font-weight: 300;
  opacity: 0.6;
  color: #000;
  margin-bottom: 48.9px;
}

.search-form {
  position: relative;
}

.search-form a {
  width: 20px;
  height: 20px;
  color: #3ec2b0;
  text-decoration: none;
  position: absolute;
  top: 15px;
  right: 15px;
}

.card {
  width: 100%;
}

.card-body h5 {
  font-size: 22px;
  font-weight: 500px;
}

.card-body p {
  height: 115px;
  overflow: hidden;
  font-weight: 300;
  color: #455A63;
}

.card-body a {
  color: #3ec2b0;
  font-weight: 500;
}

.second-card{
  margin-bottom: 55px;
}

.second-card .card-body p {
  height: 67px;
  overflow: hidden;
}

.blog-posts .button {
  width: 100%;
  height: 50px;
  border: 2px solid #3ec2b0;
  border-radius: 5px;
  color: #3ec2b0;
  font-size: 18px;
  font-weight: 500;
  background-color: white;
}

.blog-posts .button:hover {
  color: white;
  background-color: #3ec2b0;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #E0EAF0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 79px;
}

.icon-section .social-networks {
  width: 158px;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.social-networks {
  margin-bottom: 0;
}

.social-networks li {
  list-style-type: none;
}

.social-networks a {
  text-decoration: none;
  color: #546E7A;
}

.social-networks a:hover {
  color: #3ec2b0;
}

.footer p {
  font-size: 14px;
  margin-bottom: 0;
}