@import url(components/normalize.css);
@import url(components/typography.css);
@import url(components/common.css);
@import url(components/form.css);

body {
  font-family: 'Roboto', sans-serif;
  min-width: 320px;
  background-color: #3A454D;
}

.container {
  width: 90%;
  margin: 0 auto 30px;
  max-width: 1140px;
}

.container h2 {
  width: 205px;
  font-size: 30px;
  color: white;
  border-bottom: 4px solid #4E5A62;
  margin: 35px auto;
}

.gallery {
  width: 100%;
}

.container-img {
  width: 100%;
  margin: 0 auto 30px;
  position: relative;
}

.container-img a {
  text-decoration: none;
  display: block;
}

.focus-container-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  flex-direction: column;
  display: none;
}

.description-img {
  background-color: #292F36;
  bottom: 0;
  width: 100%;
}

.description-img h3 {
  font-size: 14px;
  color: white;
  padding: 18px 20px;
  font-weight: 400;
  margin: 0;
}

.focus-area {
  background-color: rgba(41, 47, 54, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.focus-icon {
  font-size: 30px;
  color: white;
}

.container-img:hover .focus-container-img {
  display: flex;
}

.container button {
  height: 50px;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  background-color: #3A454D;
}

.container button:hover {
  color: #3A454D;
  background-color: white;
}

@media (min-width:560px) {
  .container {
    width: 97%;
  }

  .gallery {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .container-img {
    width: 45%;
  }
}

@media (min-width:768px) {
  .container h2 {
    margin-left: 16px;
  }

  .container-img {
    width: 30%;
  }
}

@media (min-width:1200px) {
  .container h2 {
    width: auto;
    padding-left: 10px;
    margin-left: 16px;
    font-size: 36px;
    font-weight: 400;
    border-left: 8px solid #4E5A62;
    border-bottom: none;
    ;

  }
}